h1 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin:auto;
}
#current{
	/*font-family: "Comic Sans MS", cursive, sans-serif;*/
	font-size: 30px;
	vertical-align: middle;
	text-align: center;
	display:block;
}
.pic{
	height: 100px;
}
.forecast{
	border: 1px solid black;
	width: 300px;
	height: 400px;
	/*margin-left: 50px;*/
	display: inline-block;
	vertical-align: middle;

}
